<!-- Footer -->
<footer class="footer d-print-none no-print">
    <div class="container-xl">
        <div class="row align-items-center py-3">
            <div class="col-lg-4">
                <div class="footer-brand">
                    <a href="/">
                        <div class="d-flex align-items-center">
                            <span class="font-weight-bold text-black">Jinish<span class="text-primary">.</span></span>
                        </div>
                    </a>
                    <p class="mt-2 text-muted mb-0">End-to-End Software Developer & Architect</p>
                </div>
            </div>
            <div class="col-lg-4 text-center d-none d-lg-block">
                <ul class="list-inline navbar-nav d-flex flex-row justify-content-center mb-0 gap-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">Posts</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 d-flex justify-content-lg-end justify-content-center mt-3 mt-lg-0">
                <ul class="list-inline mb-0 footer-links">
                    <li class="list-inline-item">
                        <a href="https://github.com/jinishchandrababu" target="_blank" class="btn btn-icon">
                            <i class="ti ti-brand-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://linkedin.com/in/jinishchandrababu" target="_blank" class="btn btn-icon">
                            <i class="ti ti-brand-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/jinishchandrababu" target="_blank" class="btn btn-icon">
                            <i class="ti ti-brand-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="border-top py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="mb-0 text-muted small"> {{ frappe.utils.getdate().year }} Jinish Chandrababu. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
